<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- INFO для core.service та persistence -->
    <logger name="sumdu.edu.ua.core.service" level="INFO"/>
    <logger name="sumdu.edu.ua.persistence" level="INFO"/>
    
    <!-- WARN для web при помилках клієнта -->
    <logger name="sumdu.edu.ua.web" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
