<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <listener>
        <listener-class>sumdu.edu.ua.web.AppInit</listener-class>
    </listener>

    <servlet>
        <servlet-name>comments</servlet-name>
        <servlet-class>sumdu.edu.ua.web.CommentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>comments</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>

</web-app>
